@font-face {
    font-family: dm;
    src: url(fonts/Dm\ sans\ 9pt.ttf);
}
@font-face {
    font-family: samsung;
    src: url(fonts/samsungsharpsans-medium_v2.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: samsung;
}
body{
    background-color: #f2f2f2;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 3.5rem;
    padding: 0 4vw;
    border-bottom: 1px solid #222;
    position: relative;
    z-index: 15;
    transition: all 0.3s ease;

    & .first-nav h2{
        color: #222;
        letter-spacing: 0.1rem;
    }
    & .second-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        & a{
            text-decoration: none;
            color: #222;
            font-size: 0.9rem;
        }
        & .btn{
            background-color: #222;
            color: #fff;
            padding: 0.4rem 1rem;
            border-radius: 0.3rem;
        }
        & .btn:hover{
            background-color: #333;
        }
        & .icon{
            font-size: 1.5rem;
            display: none;
            color: #111;
            cursor: pointer;
        }
    }
    .responsive-nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        /* height: 40vw; */
        top: 3rem;
        left: -100%;
        padding: 1rem 4vw;
        gap: 1rem;
        background-color: #f2f2f2;
        border-bottom: 1px solid #222;
        display: flex;
        flex-direction: column;
        align-items: end;
        transition: all 0.4s ease;

        & a{
            text-decoration: none;
            /* color: #fff; */
            font-size: 0.9rem;
            background-color: #222;
            color: #f2f2f2;
            /* background-color: #f2f2f2;
            color: #222; */
            padding: 0.4rem 0;
            text-align: center;
            border-radius: 0.3rem;
            width: 30%;
        }
    }
}
main{
    width: 100%;
}
.page1{
    height: 93.6vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    overflow: hidden;


    & .contents{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        & .head-p{
            width: 100%;
        }
        & h2{
            font-weight: 900;
            font-size: 8vw;
            text-align: center;
            line-height: 8vw;
        }
        & .foot-p{
            width: 100%;
            text-align: end;
        }
    }
}
.page2{
    position: relative;
    z-index: 11;
    height: 100vh;
    width: 100%;
    padding: 7vw 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    & a{
        text-decoration: none;
        /* background-color: #222; */
        background: linear-gradient(135deg, #6D90B9ff, #7A99BFff, #87A2C5ff, #94ACCBff, #A1B5D0ff, #AEBED6ff, #BBC7DCff);
        color: #f2f2f2;
        padding: 2rem 2rem;
        border-radius: 0.5rem;
        width: 600px;
        height: 20%;
        border: none;
        margin-top: 1rem;
        display: grid;
        place-items: center;
        transition: all 0.3s ease;
        font-size: 1.5rem;
        position: relative;
    }
    & a span{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5rem 0.5rem 0.4rem 0.5rem;
        font-size: 0.9rem;
        border-bottom-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        background-color: #222;
    }
    & a:hover{
        scale: 0.97;
        background: linear-gradient(45deg, #6D90B9ff, #7A99BFff, #87A2C5ff, #94ACCBff, #A1B5D0ff, #AEBED6ff, #BBC7DCff);;
    }
    & a:nth-child(6){
        background: linear-gradient(135deg, #F492F0ff, #E691EAff, #D890E5ff, #CB90DFff, #BD8FD9ff, #AF8ED4ff, #A18DCEff);
    } 
}

/* Ants - Style and Animations  */
.ants{
    position: absolute;
    width: 15px;
    height: 25px;
    z-index: 1;
    color: rgba(178, 36, 36, 0.57);
    /* color: #22222290; */
}
#ant1 {
    left: 50%;
    bottom: -60%;
    animation: ant-1-animation 10s infinite;
  }
  
  #ant2 {
    left: 0;
    bottom: -50%;
    animation: ant-2-animation 7s infinite;
  }
  
  #ant3 {
    left: 100%;
    bottom: -70%;
    animation: ant-3-animation 11s infinite;
    animation-delay: 1s;
  }
  
  #ant4 {
    left: 0;
    bottom: -50%;
    animation: ant-2-animation 8s infinite;
    animation-delay: 3s;
  }
  #ant5 {
    left: 0;
    bottom: -60%;
    animation: ant-2-animation 6s infinite;
    animation-delay: 3s;
  }
  #ant6 {
    left: 0;
    bottom: -50%;
    animation: ant-2-animation 16s infinite;
    animation-delay: 3s;
  }
  
  /* // ANT-IMATIONS */
  @keyframes ant-1-animation {
    0% {
      left: 50%;
      bottom: -60%;
    }
    10% {
      left: 50%;
      bottom: 5%;
      transform: rotate(0deg);
    }
    12% {
      left: 50%;
      bottom: 5%;
      transform: rotate(-90deg);
    }
    18% {
      transform: rotate(-90deg);
    }
    20% {
      left: 5%;
      bottom: 5%;
      transform: rotate(-90deg);
    }
    22% {
      transform: rotate(0);
    }
    32% {
      transform: rotate(0);
    }
    38% {
      left: 5%;
      bottom: 87%;
      transform: rotate(90deg);
    }
    50% {
      left: 90%;
      bottom: 87%;
      transform: rotate(90deg);
    }
    55% {
      left: 90%;
      bottom: 87%;
      transform: rotate(230deg);
    }
    72% {
      left: 5%;
      bottom: 5%;
      transform: rotate(230deg);
    }
    78% {
      left: 5%;
      bottom: 5%;
      transform: rotate(90deg);
    }
    85% {
      left: 50%;
      bottom: 5%;
      transform: rotate(90deg);
    }
    90% {
      left: 50%;
      bottom: 5%;
      transform: rotate(180deg);
    }
    100% {
      left: 50%;
      bottom: -60%;
      transform: rotate(180deg);
    }
  }
  
  /* // ANT 2 */
  @keyframes ant-2-animation {
    0% {
      left: 0;
      bottom: -50%;
      transform: rotate(45deg);
    }
    15% {
      left: 50%;
      bottom: 5%;
      transform: rotate(45deg);
    }
    18% {
      left: 50%;
      bottom: 5%;
      transform: rotate(90deg);
    }
    28% {
      left: 85%;
      bottom: 5%;
      transform: rotate(90deg);
    }
    30% {
      left: 85%;
      bottom: 5%;
      transform: rotate(0deg);
    }
    40% {
      left: 85%;
      bottom: 85%;
      transform: rotate(0deg);
    }
    48% {
      left: 85%;
      bottom: 85%;
      transform: rotate(-90deg);
    }
    58% {
      left: 5%;
      bottom: 85%;
      transform: rotate(-90deg);
    }
    68% {
      left: 5%;
      bottom: 85%;
      transform: rotate(-180deg);
    }
    79% {
      left: 5%;
      bottom: 5%;
      transform: rotate(-180deg);
    }
    81% {
      left: 5%;
      bottom: 5%;
      transform: rotate(-270deg);
    }
    88% {
      left: 50%;
      bottom: 5%;
      transform: rotate(-270deg);
    }
    90% {
      left: 50%;
      bottom: 5%;
      transform: rotate(-140deg);
    }
    100% {
      left: 0%;
      bottom: -50%;
      transform: rotate(-140deg);
    }
  }
  
  /* // ANT 3 */
  @keyframes ant-3-animation {
    0% {
      left: 100%;
      bottom: -70%;
      transform: rotate(-45deg);
    }
    15% {
      left: 50%;
      bottom: -15%;
      transform: rotate(-45deg);
    }
    18% {
      left: 50%;
      bottom: -15%;
      transform: rotate(-90deg);
    }
    28% {
      left: -10%;
      bottom: -15%;
      transform: rotate(-90deg);
    }
    30% {
      left: -10%;
      bottom: -15%;
      transform: rotate(0deg);
    }
    45% {
      left: -10%;
      bottom: 105%;
      transform: rotate(0deg);
    }
    48% {
      left: -10%;
      bottom: 105%;
      transform: rotate(90deg);
    }
    58% {
      left: 105%;
      bottom: 105%;
      transform: rotate(90deg);
    }
    60% {
      left: 105%;
      bottom: 105%;
      transform: rotate(180deg);
    }
    75% {
      left: 105%;
      bottom: -15%;
      transform: rotate(180deg);
    }
    81% {
      left: 105%;
      bottom: -15%;
      transform: rotate(270deg);
    }
    88% {
      left: 50%;
      bottom: -15%;
      transform: rotate(270deg);
    }
    90% {
      left: 50%;
      bottom: -15%;
      transform: rotate(180deg);
    }
    92% {
      left: 50%;
      bottom: -15%;
      transform: rotate(130deg);
    }
    100% {
      left: 100%;
      bottom: -70%;
      transform: rotate(130deg);
    }
  }



@media all and (max-width: 600px){
    nav{
        height: 3rem;

        & .first-nav h2{
            font-size: 1.2rem;
            letter-spacing: 0.1;
        }

        & .second-nav{
            
            & a{
                display: none;
            }
            & .icon{
                display: block;
            }
        }
    }

    .page1{

        & .contents{
            margin-top: -7rem;
            width: 90%;
            gap: 1.4rem;
            
            & p{
                font-size: 0.7rem;
            }
            & h2{
                font-size: 2.8rem;
                line-height: 2.8rem;
            }
        }
    }

    .page2{
        /* background-color: red; */
        height: auto;


        & a span{
            font-size: 0.85rem;
        }
        & a:nth-child(6){
            /* margin-bottom: 5rem; */
        } 
    }
}